/* Element styles */
h2 {
    margin:0;
    
}
ul{
    list-style-type: none;
    display:flex;
    gap: 15px;

}

/* Class Styles*/

/* Container Classes */
.headerContainer{
    background-color: #1F2937;
    padding-left: 15%;
    padding-right:15%;
}
.heroContainer{
display:flex;

}
.heroTextContainer{
    display:flex;
    flex-direction: column;
}

.header {
    display:flex;
    align-items: center;

}
.logo {
    margin-right: auto;
}
.links {


}
.hero {
font-size: 48px;
font-weight: bolder;

}
.heroImage {
    height: 150px;


}
.logo, .header {
    font-size: 24px;
    
}

.logo, .hero, .header {
    color: #F9FAF8;
    
}
.links, .heroSecondary {
    font-size: 18px;
    color: #E5E7EB;
}



.footer{

}
.footer,.hero{
    background-color: #1F2937;
}
