/* Element styles */
h2, h1, p {
    margin:0;
    
}
button {
    width: 100px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #F9FAF8;
    font-weight:bolder;
    
}
ul{
    list-style-type: none;
    display:flex;
    gap: 15px;

}

/* Class Styles*/

/* Container Classes */
.headerContainer{
    background-color: #1F2937;
    padding-left: 15%;
    padding-right:15%;
}
.heroContainer{
display:flex;
justify-content: space-between;
align-items:flex-start;
padding-top: 50px;
padding-bottom: 50px;

}
.heroTextContainer{
    display:flex;
    flex-direction: column;
}

.header {
    display:flex;
    align-items: center;

}
.logo {
    margin-right: auto;
}
.links {


}
.hero {
font-size: 48px;
font-weight: bolder;

}
.heroImage {
    height: 150px;


}
.logo, .header {
    font-size: 24px;
    
}

.logo, .hero, .header {
    color: #F9FAF8;
    
}
.links, .heroSecondary {
    font-size: 18px;
    color: #E5E7EB;
}

.heroButton {
    background-color:#3882F6;
    border:0px;
}



.footer{

}
.footer,.hero{
    background-color: #1F2937;
}
